In [2]:
import pandas as pd
import numpy as np
import os

In [12]:
book_data = pd.read_json("D:\\Uni\\Sem 5\\BigData\\Project\\Big-Data-Project\\Preprocessing\\input\\books_data.json")
book_ratings = pd.read_json("D:\\Uni\\Sem 5\\BigData\\Project\\Big-Data-Project\\Preprocessing\\input\\books_rating.json")

In [17]:
book_data = book_data[['Title', 'authors', 'publisher', 'publishedDate', 'categories', 'ratingsCount']]

In [21]:
book_ratings = book_ratings[['User_id', 'Title', 'review/score']]

In [22]:
book_ratings.head(5)

          User_id                           Title  review/score
0   AVCGYZL8FQQTD  Its Only Art If Its Well Hung!           4.0
1  A30TK6U7DNS82R        Dr. Seuss: American Icon           5.0
2  A3UH4UZ4RSVO82        Dr. Seuss: American Icon           5.0
3  A2MVUWT453QH61        Dr. Seuss: American Icon           4.0
4  A22X4XUPKF66MR        Dr. Seuss: American Icon           4.0

In [43]:
book_data.head(5)

,Title,authors,publisher,publishedDate,categories,ratingsCount
0,Its Only Art If Its Well Hung!,['Julie Strain'],NaN,1996,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,['David R. Ray'],NaN,2000,['Religion'],NaN
3,Whispers of the Wicked Saints,['Veronica Haddon'],iUniverse,2005-02,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",['Edward Long'],NaN,2003-03-01,NaN,NaN

In [44]:
average_scores = book_ratings.groupby('Title')['review/score'].mean().reset_index()

In [45]:
merged_data = pd.merge(book_data, average_scores, on='Title', how='left')

In [46]:
merged_data.head(5)

,Title,authors,publisher,publishedDate,categories,ratingsCount,review/score
0,Its Only Art If Its Well Hung!,['Julie Strain'],NaN,1996,['Comics & Graphic Novels'],NaN,4.000000
1,Dr. Seuss: American Icon,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],NaN,4.555556
2,Wonderful Worship in Smaller Churches,['David R. Ray'],NaN,2000,['Religion'],NaN,5.000000
3,Whispers of the Wicked Saints,['Veronica Haddon'],iUniverse,2005-02,['Fiction'],NaN,3.718750
4,"Nation Dance: Religion, Identity and Cultural ...",['Edward Long'],NaN,2003-03-01,NaN,NaN,5.000000

In [47]:
len(merged_data)

212404

In [49]:
merged_data = merged_data[['Title', 'authors', 'publisher', 'publishedDate', 'categories', 'review/score']]

In [50]:
merged_data.to_csv('merged_book_data.csv', index=False)